<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input name="user" type='text'ng-model='user.username' required>
    <input name="pwd" type="password" ng-model='user.password' required>
    <button ng-disabled="signinForm.$invalid">signin</button>
  </form>
    <div ng-if="signinForm.user.$error.required && signinForm.$dirty" class='message'>
        <h2>Username required</h2>
    </div>
    <div ng-show="signinForm.pwd.$error.required && signinForm.$dirty" class='message'>
        <h2>Password required</h2>
    </div>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
